<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bellus.Properties.Settings.ARM_MRKConnectionString"
            connectionString="Data Source=DESKTOP-Q7U9ENT\MSSQLSERVERDPM;Initial Catalog=CRM_BELLUS;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>